@import "../../stylesheets/variables";
@import "../../stylesheets/animations";

.path-header {
  $this: &;
  opacity: 0;
  transform: translateY(-5rem);
  transition: opacity 0.5s ease 0.25s, transform 0.5s ease 0.35s;

  &--ready {
    opacity: 1;
    transform: translateY(0);
  }

  &__container {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  &__path {
    width: 1px;
    height: 10rem;
    background-image: linear-gradient(
      -45deg,
      #c3370c,
      rgba(#f87b0c, 0.4),
      rgba(#e73c7e, 0)
    );
  }

  &__ball {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 0.5rem;
    background-image: linear-gradient(
      -45deg,
      #c3370c,
      #f87b0c,
      #e73c7e,
      #c3370c
    );
  }

  &__title {
    font-size: 3.2rem;
    margin-bottom: 2.4rem;
    font-family: Inter;
    font-weight: 700;
    letter-spacing: -1.6px;

    &-gradient {
      padding: 0 2rem;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      background-image: linear-gradient(
        -45deg,
        #c3370c,
        #f87b0c,
        #e73c7e,
        #c3370c
      );
    }
  }

  &__summary {
    font-size: 6rem;
    font-family: Inter;
    font-weight: 700;
    letter-spacing: -3px;
    margin-bottom: 2.4rem;
  }

  @media only screen and (max-width: $mobile) {
    &__summary {
      font-size: 4rem;
    }
  }
}
