@import "../../../stylesheets/variables";
@import "../../../stylesheets/animations";

.button {
  $this: &;
  padding: 1.3rem 3rem;
  text-decoration: none;
  background-color: $white;
  color: $black;
  font-size: 1.6rem;
  position: relative;
  flex-shrink: 0;
  align-self: flex-start;
  cursor: pointer;

  &--feature {
    background-image: $gradient-reduced;
    color: $white;
    font-weight: 700;
    display: block;
    min-width: 20rem;
    font-size: 2rem;
    text-align: center;
    margin-top: 2.4rem;
    border-radius: 3.4rem;
  }

  &--hero {
    margin-top: 2.4rem;
    background-color: $white;
    display: block;
    width: 20rem;
    text-align: center;
    border-radius: 10rem;
    margin: 2.4rem auto 0;
    text-decoration: none !important;
    cursor: pointer;
    font-size: 2rem;
    color: $primary;
    opacity: 0;
    font-family: Inter;
    font-weight: 700;
    animation: fadeInScale;
    animation-duration: 0.45s;
    animation-delay: 1.2s;
    animation-fill-mode: forwards;
    transition: background-color 0.25s ease;
  }

  @media only screen and (max-width: $tablet) {
    &--feature {
      min-width: 100%;
      max-width: none;
      font-size: 2rem;
      margin-top: 2.4rem;
      border-radius: 3.4rem;
      height: 6.2rem;
      padding: 0;
      line-height: 6.2rem;
    }
  }

  @media only screen and (max-width: $mobile) {
    &--hero {
      width: 16rem;
      font-size: 1.4rem;
    }
  }
}
