@import "../../stylesheets/variables";
@import "../../stylesheets/animations";

.loader {
  display: block;
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid $blue-grey;
  width: 80%;
  height: 80%;
  margin: 1.6rem 1.4rem 1.4rem;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;

  @media only screen and (max-width: $tablet) {
    margin: 0.8rem 0.4rem 0.4rem;
  }
}
