@import "../../../stylesheets/variables";

.input {
  $this: &;

  &__field {
    width: 100%;
    padding: 1.8rem 0.8rem;
    font-size: 1.4rem;
    border: solid 1px $blue-grey;
    outline: none;
    transition: border-color 0.25s ease-in-out;

    &:focus {
      border-color: $light-blue;
      box-shadow: 0 0 5px rgba($black, 0.1);
    }
  }

  &__textarea {
    width: 100%;
    height: 15rem;
    font-size: 1.4rem;
    outline: none;
    resize: none;
    padding: 1.8rem 0.8rem;
    transition: border-color 0.25s ease-in-out;
    border: solid 1px $blue-grey;

    &:focus {
      border-color: $light-blue;
      box-shadow: 0 0 5px rgba($black, 0.1);
    }
  }
}
