@import "../../stylesheets/variables";

.article {
  $this: &;
  font-size: 1.6rem;
  cursor: pointer;
  position: relative;
  // background-color: $grey-theme;

  &__image-container {
    &:before {
      content: "";
      padding-top: 60%;
      display: block;
      background-color: darken($grey-theme, 2%);
    }
  }

  &__text-container {
    padding: 2.4rem;
  }

  &__title {
    font-size: 2rem;
    color: $black;
  }

  &__summary {
    font-size: 1.4rem;
    color: lighten($black, 40%);
    margin: 1.2rem 0;
    line-height: 2.4rem;
  }

  &__publish {
    font-size: 1.4rem;
    color: darken($dark-theme, 30%);
    font-weight: bold;
  }

  &__link {
    text-decoration: none;
    font-style: normal;

    &:hover {
      text-decoration: none;
      font-style: normal;
    }
  }

  &--dark {
    background-color: $dark-theme;

    #{$this}__image-container:before {
      background-color: $black;
    }

    #{$this}__title,
    #{$this}__summary,
    #{$this}__publish {
      color: $white;
    }
  }

  &--slider {
    margin-right: 2.4rem;
  }
}
