@import "../../stylesheets/variables";
@import "../../stylesheets/animations";

.service {
  $this: &;
  opacity: 0;
  transform: translateY(1rem);
  transition: opacity 0.4s ease, transform 0.4s ease;

  &--ready {
    opacity: 1;
    transform: translateY(0);
  }

  &__header {
    display: flex;
    margin-bottom: 2rem;
    justify-content: center;
  }

  &__icon {
    width: 5rem;
    height: 5rem;
    border-radius: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
  }

  &__title {
    font-size: 3.2rem;
  }

  &__text {
    font-size: 1.8rem;
    line-height: 3.2rem;
    text-align: center;
    max-width: 45rem;
    margin: 0 auto;
  }
}
