@import "../../stylesheets/variables";

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(5rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.hero {
  $this: &;
  width: 100%;
  height: 100vh;
  background: linear-gradient(-45deg, #c3370c, #f87b0c, #e73c7e, #c3370c);
  background-size: 400% 400%;
  position: relative;
  transform: translateY(-11rem);
  animation: gradient 10s ease infinite;

  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 30%;
    position: absolute;
    top: auto;
    bottom: 0;
    background-image: linear-gradient(
      to top,
      rgba($black, 0.5),
      rgba($black, 0)
    );
    pointer-events: none;
  }

  &__video {
    display: block;
    height: 100vh;
    width: 100vw;
    mix-blend-mode: color-burn;
    object-fit: cover;
  }

  &__content {
    position: absolute;
    max-width: 1500px;
    width: 100%;
    padding: 0 6.4rem;
    top: 35%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__title {
    font-size: 5rem;
    line-height: 5rem;
    color: $white;
    font-family: raleway;
    margin-bottom: 2.4rem;
    font-weight: 600;
    text-align: center;
    animation: fadeIn;
    opacity: 0;
    animation-duration: 0.45s;
    animation-delay: 0.25s;
    animation-fill-mode: forwards;
  }

  &__text {
    font-size: 2.5rem;
    color: $white;
    line-height: 4rem;
    font-family: raleway;
    text-align: center;
    max-width: 65rem;
    font-weight: 300;
    opacity: 0;
    animation: fadeIn;
    animation-duration: 0.45s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
  }

  @media only screen and (max-width: $desktop) {
    &__title {
      font-size: 4rem;
      line-height: 4rem;
    }

    &__text {
      font-size: 2.2rem;
      line-height: 3.8rem;
      max-width: 55rem;
    }
  }

  @media only screen and (max-width: $mobile) {
    &__title {
      font-size: 3rem;
      line-height: 3rem;
    }

    &__text {
      font-size: 2rem;
      line-height: 3.4rem;
    }

    &__content {
      padding: 0 4.4rem;
    }
  }
}
