@import "../../stylesheets/variables";

.hero-carousel {
  $this: &;
  position: relative;
  height: 100vh;
  margin-top: -11rem;

  &--about {
    height: auto;
    margin-top: 0;
    flex: 1 0 auto;
  }
}
