@import "../../stylesheets/variables";

.label {
  $this: &;
  display: block;
  padding: 1rem 0;
  font-size: 1.8rem;
  font-weight: 700;
  transition: color 0.25s ease-in-out;

  &--focus {
    color: $light-blue;
  }

  &--required {
    &::after {
      content: "*";
      display: inline-block;
      color: $red;
      font-size: 3rem;
      margin-left: 0.25rem;
      transform: translateY(1rem);
    }
  }
}
