@import "../../stylesheets/variables";
@import "../../stylesheets/animations";

.feature {
  $this: &;

  &--inverted {
    #{$this}__container {
      flex-direction: row-reverse;
    }

    #{$this}__text-container,
    #{$this}__text {
      text-align: right;
      margin-right: 0;
      margin-left: auto;
    }

    #{$this}__text-container {
      transform: translateX(1rem);
    }

    #{$this}__image-container {
      transform: translateX(-55rem);
    }

    a {
      margin-right: 0;
      margin-left: auto;
    }
  }

  &__container {
    display: flex;
    margin-bottom: 5rem;
  }

  &__text-container {
    min-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    transform: translateX(-1rem);
    transition: opacity 0.4s ease, transform 0.2s ease;
  }

  &__image-container {
    min-width: calc(1500px - 50%);
    max-height: 55rem;
    overflow: hidden;
    opacity: 0;
    transform: translateX(55rem);
    transition: opacity 0.5s ease, transform 0.5s ease;
  }

  &__title {
    font-size: 6.2rem;
    margin-bottom: 1.4rem;
    font-weight: 700;
    letter-spacing: -3px;
    line-height: 7.2rem;
    font-family: Inter;
  }

  &__text {
    font-size: 2rem;
    line-height: 3.4rem;
    max-width: 45rem;
    font-weight: 400;
  }

  &--ready {
    #{$this}__text-container {
      opacity: 1;
      transform: translateX(0);
    }

    #{$this}__image-container {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @media only screen and (max-width: $desktop) {
    &__title {
      font-size: 5.2rem;
      line-height: 5.2rem;
    }

    &__text {
      font-size: 1.6rem;
      line-height: 3rem;
    }
  }

  @media only screen and (max-width: $tablet) {
    &__title {
      font-size: 4.2rem;
      line-height: 4.2rem;
    }

    &__text {
      font-size: 1.8rem;
      line-height: 3.2rem;
      margin: 0 auto;
      text-align: center;
    }

    &__title,
    &__text {
      text-align: center;
    }

    &__container {
      flex-wrap: wrap;
      flex-direction: column-reverse;
    }

    &__image-container,
    &__text-container {
      min-width: 100%;
    }

    &__text-container {
      margin: 2.4rem auto 0;
      a {
        margin: 2.4rem auto 0;
      }
    }

    &--inverted {
      #{$this}__container {
        flex-direction: column-reverse;
      }
      #{$this}__text {
        text-align: center;
        margin: auto;
      }
    }
  }

  @media only screen and (max-width: $mobile) {
    &__title {
      font-size: 3.2rem;
      line-height: 3.2rem;
      letter-spacing: -2px;
    }

    &__text {
      font-size: 1.6rem;
      line-height: 3rem;
    }
  }
}
