@import "../../stylesheets/variables";
@import "../../stylesheets/animations";

.service-wrapper {
  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    list-style: none;
    padding: 0;
    margin: 0;
    column-gap: 5rem;
    row-gap: 5rem;
    max-width: 1030px;
    margin: 0 auto;
    grid-template-rows: masonry;
  }

  @media only screen and (max-width: $desktop) {
    &__list {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
