@import "../../stylesheets/variables";

.about {
  $this: &;
  margin: 4rem 0 0;

  &--ready {
    #{$this}__image-container,
    #{$this}__text-container {
      opacity: 1;
    }
  }

  &__wrapper {
    max-width: 1030px;
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: center;
  }

  &__image-container {
    position: relative;
    width: 100%;
    margin: 0 auto;
    opacity: 0;
    width: 50rem;
    height: 50rem;
    border-radius: 50rem;
    overflow: hidden;
    transition: opacity 0.1s ease;

    &::after {
      content: "";
      position: relative;
      width: 100%;
      padding-top: 56%;
      display: block;
    }
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
  }

  &__text-container {
    display: grid;
    list-style: none;
    padding: 0 2rem 0 0;
    grid-template-rows: auto;
    row-gap: 4rem;
    max-width: 40rem;
    opacity: 0;
    transition: opacity 0.1s ease;
  }

  &__text-main {
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: -1px;
    line-height: 4rem;
    font-family: Inter;
  }

  &__text-about {
    font-size: 1.8rem;
    line-height: 3.2rem;
    font-weight: 400;
  }

  @media only screen and (max-width: $desktop) {
    &__wrapper {
      flex-wrap: wrap;
      flex-direction: column-reverse;
    }

    &__image-container {
      width: 40rem;
      height: 40rem;
      border-radius: 40rem;
    }

    &__text-container {
      flex-basis: 100%;
      max-width: none;
      padding: 2rem 0 0;
    }

    &__text-main {
      text-align: center;
      font-size: 2.6rem;
      line-height: 3.4rem;
    }
  }

  @media only screen and (max-width: $tablet) {
    &__image-container {
      width: 35rem;
      height: 35rem;
      border-radius: 35rem;
    }
  }
}
