@import "../../stylesheets/variables";

.instagram-item {
  $this: &;
  display: block;
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
  transition: transform 0.25s ease;

  &--ready {
    #{$this}__image-container {
      opacity: 1;
    }

    &:hover {
      transform: scale(1.02);
    }
  }

  &__loader-container {
    position: absolute;
    top: 50%;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 70%;
  }

  &__image-container {
    opacity: 0;
    transition: opacity 0.25s ease;
  }
}
