@import "../../stylesheets/variables";
@import "../../stylesheets/animations";

.mock {
  $this: &;

  &--home {
    transform: translateY(-13rem);

    #{$this}__mock {
      box-shadow: 0 0 20px rgba($black, 0.25);
    }
  }

  &--feature,
  &--feature-inverted {
    #{$this}__frame {
      margin-bottom: 0;

      &::after {
        display: none;
      }
    }
  }

  &__mock {
    // max-width: 95rem;
    width: 100%;
    transform: translateY(-5px);
    position: relative;
  }

  &__mock-image {
    // max-width: 95rem;
    width: 100%;
    padding-top: 5%;
    transform: translateY(-5px);
    position: relative;

    &--image {
      padding-top: 55%;
    }

    > span {
      position: absolute !important;
      top: 0;
      left: 0;
      width: 100% !important;
      height: 100% !important;
    }
  }

  &__frame {
    position: relative;
    // max-width: 95rem;
    max-width: 80vw;
    width: 100%;
    margin: 0 auto;
    padding: 0 2.4rem;
    margin-bottom: -30rem;

    &::after {
      content: "";
      display: block;
      height: 20rem;
      width: 100%;
      background-color: $white;
      z-index: $level-one;
      transform: translateY(-11rem) scaleX(1.6);
      filter: blur(2.5rem);
    }
  }

  @media only screen and (max-width: $desktop) {
    &--home {
      #{$this}__frame {
        max-width: 90vw;
        padding: 0 4.4rem;
      }
    }

    &--feature,
    &--feature-inverted {
      #{$this}__frame {
        max-width: 80rem;
        margin-left: 0;
      }
    }

    &--feature-inverted {
      #{$this}__frame {
        margin-left: auto;
        margin-right: 0;
      }
    }
  }

  @media only screen and (max-width: $tablet) {
    &--home {
      #{$this}__frame::after {
        transform: translateY(-2rem) scaleX(1.6);
        filter: blur(1rem);
      }
    }

    &--feature,
    &--feature-inverted {
      #{$this}__frame {
        max-width: none;
      }
    }
  }

  @media only screen and (max-width: $mobile) {
    &--home {
      transform: translateY(-14rem);
      #{$this}__frame {
        // max-width: 45rem;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &::after {
          transform: translateY(-3rem) scaleX(1.2);
        }
      }
    }

    &--feature,
    &--feature-inverted {
      #{$this}__frame {
        padding: 0;
      }
    }
  }
}
