@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(0);
  }
  to {
    opacity: 1;
    transform: translateY(-22rem);
  }
}

@keyframes fadeInContent {
  from {
    opacity: 0;
    transform: translateY(0);
  }
  to {
    opacity: 1;
    transform: translateY(-19rem);
  }
}

@keyframes fadeInScale {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  95% {
    transform: scale(1.01);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
