@import "./variables";

html,
body {
  padding: 0;
  margin: 0;
  font-family: Comfortaa, Inter, Oxygen, Ubuntu, Cantarell, Fira Sans,
    Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 10px;
  overflow-x: hidden;
  text-rendering: optimizelegibility;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

.widget {
  margin-top: 4rem;
}

.logo {
  z-index: 10;
}

.list-box {
  display: flex;
  justify-content: space-between;
}

.anchor {
  display: block;
  position: relative;
  top: -110px;
  visibility: hidden;

  @media only screen and (max-width: $desktop) {
    top: -70px;
  }
}

.body {
  background-color: rgba(#f1e9dc, 0.7);
  background-color: lighten($gold, 5%);
  max-width: 2000px;
  margin: 0 auto;
  position: relative;
  z-index: $level-two;
  display: block;
}

a[href^="tel"] {
  text-decoration: inherit;
  color: inherit;
}

.wrapper {
  max-width: 1200px;
  margin: 4.6rem auto;

  &--nav {
    margin: 0 6.4rem;
    display: flex;
    width: 100%;
    max-width: 1040px;
    align-items: center;

    @media only screen and (max-width: $desktop) {
      margin: 0 3.4rem;
    }

    @media only screen and (max-width: $mobile) {
      margin: 0 2.4rem;
    }
  }

  &--first {
    margin-top: 0;
  }

  &--last {
    margin-bottom: 0;
  }
}
