// Regular
@font-face {
  font-family: Roboto;
  src: url("../assets/font/Roboto-Regular.ttf") format("truetype");
  font-display: swap;
  font-weight: normal;
}

// Medium
@font-face {
  font-family: Roboto;
  src: url("/font/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
}

// Bold
@font-face {
  font-family: Roboto;
  src: url("/font/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: Comfortaa;
  src: url("/font/Comfortaa-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: Inter;
  src: url("/font/Inter-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
}

@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Raleway:wght@400;900&display=swap");

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p {
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: 0.15px;
  line-height: 2rem;

  &.lg {
    font-size: 1rem;
  }

  &.sm {
    font-size: 0.75rem;
    letter-spacing: 0.25px;
    line-height: 1.25rem;
  }

  &.xs {
    font-size: 0.625rem;
    letter-spacing: 0.25px;
    line-height: 1.25rem;
  }
}

h1 {
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 0.15px;
  line-height: 1.875rem;
}

h2 {
  font-size: 1.25rem;
  font-weight: 500;
  letter-spacing: 0.15px;
  // line-height: 1.5rem;
}

h3 {
  font-size: 1.125rem;
  font-weight: 500;
  letter-spacing: 0.15px;
  // line-height: 1.5rem;
}

h4 {
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 0.25px;
  // line-height: 1.8rem;
}

h5 {
  font-size: 0.875rem;
  font-weight: 500;
  letter-spacing: 0.25px;
  // line-height: 1.5rem;
}

h6 {
  font-size: 0.75rem;
  font-weight: 500;
  letter-spacing: 0.25px;
  // line-height: 1.5rem;
}

* {
  font-family: "Raleway", sans-serif;
}
