$level-one: 10;
$level-two: 20;
$level-three: 30;
$level-four: 40;

$primary: #f40b48;
$white: #fff;
$black: #000;
$red: #d32f2f;
$gold: #d6b473;
$off-white: rgba(240, 240, 240, 1);

$grey-theme: #fafafa;
$dark-grey-theme: #dedada;
$dark-theme: #212121;
$blue-grey: #cfd8dc;
$light-blue: #2196f3;

$gradient: linear-gradient(-45deg, #c3370c, #f87b0c, #e73c7e, #c3370c);
$gradient-reduced: linear-gradient(-45deg, #f87b0c, #e73c7e);

$desktop: 1024px;
$tablet: 760px;
$mobile: 540px;
