@import "../../stylesheets/variables";

.header {
  $this: &;
  position: relative;
  padding: 3rem 0;
  width: 100%;
  z-index: $level-three;
  display: block;
  background-color: $white;
  border-bottom: solid 1px rgba(230, 230, 230, 0.5);

  &__title {
    font-size: 3rem;
    color: #d6b473;
    font-weight: 900;
    text-transform: uppercase;
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2.4rem;
    width: 100%;
  }

  &--center {
    #{$this}__content {
      text-emphasis: center;
      justify-content: center;
    }
  }

  @media only screen and (max-width: $desktop) {
    &__title {
      font-size: 2rem;
    }
  }
}
