@import "../../stylesheets/variables";

.nav-bar {
  $this: &;
  display: flex;
  justify-content: center;
  z-index: $level-two;
  position: relative;
  height: 11rem;
  background-color: rgba($white, 1);
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: $level-three;
  box-shadow: 0 0 10px rgba($black, 0.08);
  transition: background-color 0.25s ease;

  &__list {
    display: flex;
    padding: 0;
    margin-left: auto;
    margin-right: 0;
  }

  &__logo {
    display: inline-block;
    margin-left: 0;
  }

  &__item {
    list-style: none;
    margin: 0 1.2rem;
    min-width: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    font-family: Comfortaa;
    font-weight: 700;
    cursor: pointer;
    position: relative;
    user-select: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    height: 100%;
    color: $black;
    font-weight: 500;
  }

  &--vertical {
    width: 12rem;
    height: 100vh;
    margin: 0;
    padding: 0;

    #{$this} {
      &__list {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
      }

      &__item {
        min-width: auto;
        height: 5rem;
        margin: 1.4rem 0;
      }
    }
  }

  &--grey {
    background-color: $grey-theme;

    #{$this} {
      &__item {
        color: $black;
      }
    }
  }

  &--dark {
    background-color: #0e1a1e;

    #{$this} {
      &__item {
        color: $white;
      }
    }
  }

  &--start {
    #{$this} {
      &__list {
        margin-right: auto;
      }
    }
  }

  &--start#{$this}--vertical {
    #{$this} {
      &__list {
        margin-bottom: auto;
      }
    }
  }

  &--end {
    #{$this} {
      &__list {
        margin-left: auto;
      }
    }
  }

  &--end#{$this}--vertical {
    #{$this} {
      &__list {
        margin-top: auto;
      }
    }
  }

  &--naked {
    background: none;
    box-shadow: none;

    #{$this}__link {
      color: $white;
    }
  }

  @media only screen and (max-width: $desktop) {
    height: 7rem;
    z-index: $level-four;

    // &__logo {
    //   > span {
    //     width: 170px !important;
    //   }
    // }

    &__list {
      display: none;
    }
  }
}

.nav-mobile {
  width: 100vw;
  position: absolute;
  padding-top: 7rem;
  height: 100vh;
  background-color: $white;
  z-index: $level-three;
  transform: translateY(-150%);
  transition: transform 0.35s ease, opacity 0.35s ease;

  &--open {
    opacity: 1;
    transform: translateY(0);
  }

  &__list {
    width: 100vw;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__link {
    display: block;
    width: 100%;
    padding: 2.2rem 3.2rem;
    font-size: 2rem;
    text-align: center;
    font-family: Comfortaa;
    font-weight: 700;
    border-bottom: solid 1px rgba($black, 0.05);
    color: $primary;
  }
}
