@import "../../stylesheets/variables";

.footer {
  $this: &;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  color: $white;
  position: relative;
  height: 50vh;

  &::before {
    content: "";
    display: block;
    width: 100vw;
    background-image: $gradient-reduced;
    background-color: $white;
    transform: scaleX(1.9) translateY(0);
    min-height: 100%;
    border-radius: 50% 50% 0 0 / 100% 100% 0 0;
    position: absolute;
    bottom: 0;
  }

  &__content {
    max-width: 1500px;
    margin: 15rem auto 0;
    z-index: $level-one;
    width: 100%;
  }

  &__content-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  &__content-list {
    list-style: none;
    border-left: solid 1px rgba($white, 0.3);
    padding-left: 3rem;
    margin-left: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__content-item {
    font-size: 1.8rem;
    font-weight: 700;
  }

  &__main {
    padding: 4.8rem 0;
    margin-top: auto;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    z-index: $level-one;
    border-top: solid 0.15px rgba($white, 0.4);
  }

  p {
    font-size: 2rem;
    font-weight: 700;
    color: $white;
  }

  @media only screen and (max-width: $tablet) {
    &::before {
      transform: scaleX(2.5) translateY(0);
    }

    &__content-wrapper {
      flex-direction: column;
      margin-top: -5rem;
    }

    &__content-list {
      // border-top: solid 1px rgba($white, 0.3);
      border-left: 0;
      padding: 2rem;
      padding-left: 0;
      margin-left: 0;
      margin-top: 1rem;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
    }

    &__image {
      min-width: 130px !important;
      min-height: 70px !important;
    }
  }

  @media only screen and (max-width: $mobile) {
    &::before {
      transform: scaleX(3.5) translateY(0);
    }
  }
}
