@import "../../stylesheets/variables";

.footer {
  $this: &;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  color: $white;
  position: relative;

  &::before {
    content: "";
    display: block;
    width: 100vw;
    background-image: $gradient-reduced;
    transform: scaleX(1.9) translateY(0);
    min-height: 100%;
    border-radius: 50% 50% 0 0 / 100% 100% 0 0;
    position: absolute;
    bottom: 0;
  }

  &__content {
    max-width: 1500px;
    padding: 15rem 0 5rem;
    z-index: $level-one;
    width: 100%;
  }

  &__content-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  &__content-list {
    list-style: none;
    border-left: solid 1px rgba($white, 0.3);
    padding-left: 3rem;
    margin-left: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__content-item {
    font-size: 1.8rem;
    font-weight: 700;
    color: $white !important;
    text-decoration: none;
    font-style: normal;

    a {
      text-decoration: none;
      color: $white;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__main {
    padding: 4.8rem 0;
    margin-top: auto;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    z-index: $level-one;
    border-top: solid 0.15px rgba($white, 0.4);

    p {
      font-size: 1.4rem;
      font-weight: 200;
      color: $white;
      letter-spacing: 0.5px;
    }
  }

  &__image-container {
    width: 14rem;
    height: 7.5rem;
    position: relative;
  }

  @media only screen and (max-width: $tablet) {
    &::before {
      transform: scaleX(2.5) translateY(0);
    }

    &__content-wrapper {
      flex-direction: column;
      margin-top: -5rem;
    }

    &__content-list {
      border-left: 0;
      padding: 2rem;
      margin-left: 0;
      margin-top: 1rem;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
    }

    &__image-container {
      width: 8rem;
      height: 4rem;
    }

    &__content-item {
      font-size: 1.6rem;
      line-height: 3.5rem;
    }
  }

  @media only screen and (max-width: $mobile) {
    &::before {
      transform: scaleX(3.5) translateY(0);
    }

    &__main {
      p {
        font-size: 1.6rem;
      }
    }
  }
}
