@import "../../stylesheets/variables";

.sign-up-form {
  $this: &;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding: 3rem 5rem;
  justify-content: space-between;
  background-color: $white;
  border-radius: 4px;
  max-width: 70rem;

  &__input-error {
    color: $red;
    font-size: 1.6rem;
  }

  &-container {
    padding: 4rem 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__title {
      color: $black;
      opacity: 0.9;
      font-size: 4rem;
      padding-bottom: 4rem;
    }
  }

  &__text {
    font-size: 1.8rem;
    display: block;
    line-height: 1.6;
    margin-bottom: 1.4rem;
  }

  &__text-header {
    font-size: 2rem;
    display: block;
    line-height: 1.8;
    margin-bottom: 1.4rem;
  }

  &__submit {
    background-color: $gold;
    color: $white;
    font-weight: 500;
    border: none;
    outline: none;
    font-size: 1.8rem;
    padding: 1.4rem 4rem;
    margin-top: 2rem;
    border-radius: 2px;
    width: 100%;
    cursor: pointer;
    height: 6.2rem;

    background-image: $gradient-reduced;
    color: $white;
    font-weight: 700;
    display: block;
    min-width: 20rem;
    font-size: 2rem;
    text-align: center;
    margin-top: 2.4rem;
    border-radius: 3.4rem;
  }

  &__date-picker {
    width: 100%;

    input {
      padding: 1.8rem 0.8rem;
      font-size: 1.4rem;

      &:focus {
        border-color: $light-blue;
        box-shadow: 0 0 5px rgba($black, 0.1);
      }
    }

    div {
      border-radius: 0;
    }

    button {
      svg {
        width: 2rem;
        height: 2rem;
      }
    }
  }

  &__input {
    padding-bottom: 2rem;
  }

  &__radio-label {
    margin-bottom: 1rem;
    span {
      font-size: 1.5rem;
    }
  }

  &--1 {
    #{$this}__input {
      width: 100%;
    }
  }

  &--2 {
    #{$this}__input {
      width: 48%;

      &--textarea {
        width: 100%;
        resize: none;
      }
    }
  }

  @media only screen and (max-width: $desktop) {
    padding: 1rem 2rem;

    &-container__title {
      font-size: 2.6rem;
    }

    &__input {
      padding-bottom: 1rem;
    }

    &--2 {
      #{$this}__input {
        width: 100%;

        &--textarea {
          width: 100%;
        }
      }
    }
  }
}
