@import "../../stylesheets/variables";
@import "../../stylesheets/animations";

.feature-wrapper {
  $this: &;

  &__container {
    max-width: 1030px;
    margin: 0 auto;
  }

  &__list {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__item {
    margin-bottom: 2.4rem;
  }

  @media only screen and (max-width: $desktop) {
    &__list {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
